body {
    display: flex;
    gap: 75px;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.navbar {
    border-bottom: 2.3px solid black;
    display: flex;
    justify-content: flex-start;
    
}


.playField {
    display: flex;
    justify-content: center;
}

.gameStartBTN {
    cursor: pointer;
    background-color: white;
    border: 2.3px solid black;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.gameStartContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    min-width: 500px;

}

.gameboard {
    display: flex;
    height: 500px;
    width: 500px;
}


.part, .placerpart {
    border: 1px solid black;
    height: 48px;
    width: 48px;
}

.placerpart {
    cursor: pointer;
}

.highlight {
    border: 1px solid green;
    background-color: green;
}

.unplacable {
    border: 1px solid red;
    background-color: white;
}

.placedShip {
    background-color: grey;
}
.part {
    cursor: crosshair;
}

.inactivePart {
    pointer-events: none;
}
.inactiveBoard {
    pointer-events: none;
}

